* {
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 5rem;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 15px;
    padding-bottom: 30px;
}

.navbar {
    margin-bottom: 30px;
}

ul li{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.container  {
    display: table;
    margin: 0 auto;
}
.column {
    float: left;
    padding: 10px;
}
  
.left, .right {
    color: aliceblue;
    width: 25%;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: border-box;
}
  
.center {
    width: 50%;
    background-color: #bbb;
    border-left: 3px solid #777777;
    border-right: 3px solid #777777;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url("../images/gplaypattern.png");
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    color: #f40193;
    text-align: center;
    font-weight: bold;
}

p {
    font-family: 'Cinzel', serif;
    font-size: 1.75em;
    text-align: center;
}

.matchNumber {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.guesses {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#pressPlay {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

#wordAnswer {
    letter-spacing: .25em;
}

.crystalBox {
    text-align: center;
}